.description-scroll {
  display: block; /* Ensure block behavior for scrolling */
  max-height: 3rem; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.description-scroll .overflow-ellipsis {
  display: none; /* Hide the ellipsis since we're not summarizing */
}

.description-scroll:hover .ver-mas {
  display: none; /* Hide "ver más" since we're not summarizing */
  cursor: pointer; /* Remove cursor pointer (optional) */
}

.ver-mas {
  display: none; /* Hide "ver más" since we're not summarizing */
}

.card {
  width: 18rem;
}

.card img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}


